
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projeto da disciplina Cálculo Numérico">
    <meta name="author" content=" Bruno Nóbrega">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Cálculo Numérico - Eliminação de Gauss</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Eliminação de Gauss</h2>
        <p class="lead">Aplicação para disciplina de Cálculo Numérico</p>
    </div>
    <form class="needs-validation" th:action="@{/}" th:object="${sistema}" method="post">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Variáveis</span>
                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">N</h6>
                        <small class="text-muted" id="saida">N da Matriz</small>
                    </div>
                    <input type="number" class="form-control" th:field="*{n}" placeholder="" value="" required>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">

                </li>

            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Sistema</h4>
                <div id="mathSystem">
                    <div class="row">
                        <div class="col-md-5 mb-2">
                            <label for="matrixString">Sistema</label>
                            <textarea th:field="*{matrixString}" rows="5" cols="50" class="form-control" placeholder="" value="" required>
                            </textarea>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Resultados</h4>
            <div class="d-block my-3">
                <th:block th:if="${sistema.steps != null}" th:each="matrix,iterStat : ${sistema.steps}">
                    <h5>Passo <span th:text="${iterStat.count}"></span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="linha : ${matrix}">
                            <td th:each="item,iterStat : ${linha}" th:text="${#strings.concat((item >= 0 && iterStat.index != 0 && iterStat.size - iterStat.index != 1) ? '+' : (iterStat.size - iterStat.index == 1) ? '=' : '',
                            #numbers.formatDecimal((item < 0 && item > -0.0001) ? 0 : item,1,3,'COMMA'),(iterStat.size - iterStat.index != 1) ? #strings.concat('x^', iterStat.size - iterStat.index - 1) : '')}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${sistema.steps != null}">
                    <h5>Resultado</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="linha,iterStat : ${sistema.matrix}">
                            <td th:each="item,iterStat : ${linha}" th:text="${#strings.concat((item >= 0 && iterStat.index != 0 && iterStat.size - iterStat.index != 1) ? '+' : (iterStat.size - iterStat.index == 1) ? '=' : '',
                            #numbers.formatDecimal((item < 0 && item > -0.0001) ? 0 : item,1,3,'COMMA'),(iterStat.size - iterStat.index != 1) ? #strings.concat('x^', iterStat.size - iterStat.index - 1) : '')}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${sistema.l != null}">
                    <h5>L</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="linha,iterStat : ${sistema.l}">
                            <td th:each="item,iterStat : ${linha}" th:text="${#strings.concat((item >= 0 && iterStat.index != 0) ? '+' : '',
                            #numbers.formatDecimal((item < 0 && item > -0.0001) ? 0 : item,1,3,'COMMA'))}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${sistema.u != null}">
                    <h5>U</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="linha,iterStat : ${sistema.u}">
                            <td th:each="item,iterStat : ${linha}" th:text="${#strings.concat((item >= 0 && iterStat.index != 0) ? '+' : '',
                            #numbers.formatDecimal((item < 0 && item > -0.0001) ? 0 : item,1,3,'COMMA'))}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${resultadoMultiplicacao != null}">
                    <h5>L * U</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="linha,iterStat : ${resultadoMultiplicacao}">
                            <td th:each="item,iterStat : ${linha}" th:text="${#strings.concat((item >= 0 && iterStat.index != 0) ? '+' : '',
                            #numbers.formatDecimal((item < 0 && item > -0.0001) ? 0 : item,1,3,'COMMA'))}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${sistema.steps != null}">
                    <h5>X</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td th:each="valor,iterStat : ${sistema.x}" th:text="${#strings.concat('x', iterStat.count, ' = ',#numbers.formatDecimal((valor < 0 && valor > -0.0001) ? 0 : valor,1,3,'COMMA'))}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
            <div class="d-block my-3">
                <th:block th:if="${sistema.determinante != null}">
                    <h5>Determinante</span></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td th:text="${#numbers.formatDecimal((sistema.determinante < 0 && sistema.determinante > -0.0001) ? 0 : sistema.determinante,1,3,'COMMA')}">000</td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
                <div class="d-block my-3">


                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Calcule</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Cálculo Numérico - UNIFIL 2019</p>

    </footer>
</div>

<script th:src="@{/webjars/jquery/dist/jquery.min.js}" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/webjars/popper.js/dist/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>
